*{
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    display: flex;
}

header{
    font-size: 4rem;
}

h3, p, h2, button{
    font-size: 3rem;
}

#gameOutcome {
    font-size: 2rem;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    background-color: #a4c2f4ff;
}

button {
    margin-left: 25px;
    margin-right:25px;
    margin-top: 20px;
    padding: 7px 40px;
    background-color: rgba(164, 193, 244, 0);
    border-radius: 50px;
}

.container .section{
    width: 400px;
    margin: 00px 50px;
}

